jupyter==1.0.0
jupyter-console==6.6.3
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter-events==0.9.0
jupyter-highlight-selected-word==0.2.0
jupyter-lsp==2.2.4
jupyter-nbextensions-configurator==0.5.0
jupyter-resource-usage==0.6.3
jupyter-server==1.21.0
jupyter-server-mathjax==0.2.6
jupyter_client==7.4.3
jupyter_core
jupyter_latex_envs==1.4.6
jupyter_server_terminals==0.5.2
jupyterlab==3.4.8
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
jupyterlab_server==2.16.1


transformers
tensorflow
torch
pytesseract
tesseract
tf-keras

fastapi
uvicorn

pydantic

docquery

pytest 
